* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-image: url("imgs/pizza.jpg");
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

nav {
    /* position: absolute; */
    display: flex;
    left: 150px;
    min-width: 80%;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(233, 231, 231);
    border-radius: 25px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li {
    height: 60px;
}

nav a {
    height: 100%;
    padding: 12px;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    color: black;
}

nav li:first-child {
    margin-right: auto;
    padding-left: 15px;
}
nav .zadnjiLi {
    padding-right: 15px;
}
section {
    display: flex;
    min-width: 100vh;
}
.glavno {
    display: flex;
    gap: 50px;
    flex: 1;
}

.glavno > * {
    flex: 1;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}
.sidebar {
    margin: -10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    border-radius: 20px;
    z-index: 999;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar li,
.sidebar a {
    margin-top: 20px;
    width: 100%;
}

.side-svg {
    display: flex;
    margin-right: 20px;
}
.menu {
    margin-right: 0;
}

.menu-button {
    display: none;
}

.close-icon a {
    margin: 10px 10px 0 0;
    display: flex;
    justify-content: end;
}
.close-ico:hover {
    color: black;
}

a:hover .side-svg,
a:hover,
a:hover .telefon {
    transition: all 0.5s;
    color: black;
}

.menu-button:hover .menu {
    color: black;
}

.telefon {
    margin-right: 10px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* margin-left: 50px; */
    /* margin-top: 250px; */
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* max-width: 300px;
    max-height: 350px;
    margin-right: 200px;
    margin-top: 50px; */
}
.card1 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}
.card2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(233, 231, 231);
    border-radius: 20px;
    max-width: 400px;
    height: 350px;
    margin-right: 100px;
}

.tekst-h1 {
    font-family: "Vina Sans", sans-serif; /* font-family: "Anton", sans-serif; */
    font-size: 120px;
    width: 100%;
}

.tekst-p {
    width: 40%;
    /* position: absolute; */
    /* top: 150px; */
}
.tekst-p-c2,
.naslov {
    text-align: center;
}
.naslov {
    margin-bottom: 25px;
    font-size: 40px;
}

section {
    display: flex;
    min-height: 100vh;
}

/* --------------------- 800px ------------------- */
@media (max-width: 900px) {
    .hideonMobile {
        display: none;
    }
    .menu-button {
        display: flex;
    }
}
/* ------------------- 400px -------------------------- */
@media (max-width: 400px) {
    .sidebar {
        width: 80%;
    }
}

.section2 {
    color: #111111;
    background-color: white;
    border-top-left-radius: 200px;
}

.container-s2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
